<!DOCTYPE html>
<html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
      $(document).ready(function(){
        var voteText,address,signature;
        $("#submit").click(function(){
          voteText=$("#voteText").val();
          address=$("#address").val();
          signature=$("#signature").val();
          $.post("https://localhost:5000/verify",{voteText: voteText, address: address, signature: signature}, function(data){
            if(data==='done')
              {
                alert("login success");
              }
              });
        });
      });
    </script>


<body>

voteText: <input type="voteText" id="voteText"><br>
address: <input type="address" id="address"><br>
signature: <input type="signature" id="signature"><br>
<input type="button" id="submit" value="verify"></br>

<p>Click to verify</p>


<p id="demo"></p>

</body>
</html>