<!DOCTYPE html>
<script>

var printoutput = function () {
	var voteText = document.getElementById("voteText").value;
	var address = document.getElementById("address").value;
	var signature = document.getElementById("signature").value;


	$.post("http://localhost:5000/verify",{voteText:voteText, address:address, signature:signature}, function(data){
		document.getElementById("demo").innerHTML = data;
		console.log(data);
	});

	//var value = verify(voteText, address, signature);

}
</script>

<html>

<body>

voteText: <input type="voteText" id="voteText"><br>
address: <input type="address" id="address"><br>
signature: <input type="signature" id="signature"><br>

<p>Click to verify</p>

<p><%= result %></p>
<p><%= verifycheck %></p>

<button onclick="printoutput()">Verify</button>

<p id="demo"></p>

</body>
</html>