<!DOCTYPE html>
<html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
      $(document).ready(function(){
        var voteText,address,signature;
        $("#submit").click(function(){
          var voteTextClient = $("#voteText").val();
          alert(voteTextClient)
          var addressClient = $("#address").val();
          var signatureClient = $("#signature").val();
          $.post("/verify", {voteText: voteTextClient, address: addressClient, signature: signatureClient}, function(data){
                alert("data loaded");
              });
        });
      });
    </script>


<body>

voteText: <input type="voteText" id="voteText"><br>
address: <input type="address" id="address"><br>
signature: <input type="signature" id="signature"><br>
<input type="button" id="submit" value="verify"></br>

<p>Click to verify</p>


<p id="demo"></p>

</body>
</html>