<!DOCTYPE html>
<script>

var printoutput = function (voteText, address, signature) {
	var value = verify(voteText, address, signature);
  document.getElementById("demo").innerHTML = value;
  console.log(value);
}
</script>

<html>

<body>

<p>Click to verify</p>

<button onclick="printoutput(voteText, address, signature)">Verify</button>

<p id="demo"></p>

</body>
</html>